body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  color: #000;
  background-color: #121212;
  padding: 0;
  margin: 0; `
}

.nav {
  list-style:none;
  margin-top: -10px;
  margin-bottom: 0;
  padding:0;
  text-align:center;
  background-color:#121212;
  
}
#navli {
  display: inline;
}

.sponsorlist{ 
	text-align:center;
	width: 25%;
	position: relative;
	float: right;
	background-color: #f5f5f5;
	margin: 5px 15px 15px 5px;
	padding: 15px 10px;
	min-height: 150px;
}

.nav li ul{
	padding: 0;
	margin-left: 337px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	list-style-type: none;
	position: absolute;
	display: block;
	width: 142px;
	visibility: hidden;
	background-color:#121212;
}
.nav a {
  display: inline-block;
  padding:12px;
  font-size: 20px;
  color: white;
}
.email{
  unicode-bidi:bidi-override;
  direction: rtl;
  
}

.sidebar a img {
	width: 200px; 
	border-radius: 10px; 
	margin-top:10px;
	margin-left:10%;
}

.sidebar .email {
    margin-left: 6%;
}
.emailTip{
    width: 100px;  
    height: 20px;
    background: #00F;
    padding-top: 37px;  
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
header {
  overflow: hidden;
}
footer{
  clear: both;
  font-size: 0.65em;
  text-align: center;
  color: white;
  background: #121212;
}
#main {
  width: 960px;
  margin: 15px auto;
  background: #ccc;
}
.sidebar{
  float: right;
  width: 260px;
  padding-left: 10px;
}
.posts{
  width: 690px;
  float: left;
  box-shadow: 3px 0px 7px #777;
  background: #EEE;
  padding-top: 15px;
}

.post{  /* all contents of a post*/
  padding: 0 20px;
  background: #EEE;
}

.post img {
	max-width: 650px; /* 690 - 20*2 padding */
}

.post h2{ /* title of post */
  margin-bottom: 0;
  margin-top: 0;
}
.post h5{ /* date of post */
  margin: 0;
}
.post p{ /* text of post */
  margin-bottom: 0;
}
.projects{  /*project listing page*/

}
.project-desc{ /*specific project listing*/
    clear:both; /*Needed for multiple projects*/
}
.desc{  /* title and text description*/
  float:left;
  width: 620px;
}
.desc-thumb{ /*thumbnail for associated project*/
  float:left;
}
.desc-thumb img{
  width: 300px;
  margin: 20px;
  border-radius: 10px;
}

.desc p{
  padding-right: 20px;
}

.desc .date{
  margin-top:-22.5px;
  font-size: 15px;
  font-style: italic;
}

.project-page {
    
}

.project-title {
    
}

.project-title img {
    max-height:100px;
}

.project-info {
    padding: 0 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #aaa;
  text-decoration: none;
}
h1 {
  margin: 0;
}
.archive{
  background: #EEE;
  padding: 20px 50px;
}
.archive h3{
  margin-top: 0;
  margin-bottom: 0;
}
.archive ul{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.gallery {
    height: 170px;
    width: 650px;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.gallery img {
    height: 150px;
}
.gallery ul {
    margin: 0;
    width: 960px;
    height: 160px;
    white-space: nowrap;
    list-style: none;
    padding-left:0;
}
.gallery li {
    display: inline;
    height: 150px;
}

.gallery::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.gallery::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.gallery::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(67, 146, 184);
}

.youtube-player {
	margin-top: 5px;
	margin-bottom: 5px;
}

hr {
  border:0px;
  height:4px;
  width:96%;
  margin-top:18px;
  margin-bottom:18px;
  background-color:#7f7f7f;
  border-radius: 3px;
}

.date {
  margin-top: -5px;
  font-size: 15px;
  font-style: italic;
}
