---
layout: default
---

<div class="emailTip"></div>
<div class="posts">
{% for post in site.posts %}
<div class="post">
	<a href="{{ post.url }}">
		<h2>{{ post.title }}</h2>
	</a>
	<h5>{{ post.date | date: "%d %B %Y" }} - {{ post.post_author }}</h5>
	
	{% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
        <br/><br/><i><a href="{{ post.url }}">Click here to read more..</a></i>
    {% else %}
        {{ post.content }}
    {% endif %}
    
</div>
<hr>
{% endfor %}
</div>
<div class="sidebar">
	<a href="http://www.github.com/tylerwolverton" target="_blank"><img src="/img/github.png" alt= "Tyler Wolvertons Github Page"/></a>
	<span class="email">moc.liamg@trevlowrelyt</span>
</div>
