<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Tyler Wolverton </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="/css/lightbox.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/lightbox-2.6.min.js"></script>
</head>
<body>
 
	<div id="main">
		<div style="background: #000000;">
			<p style="width:960px; font-size: 75px; color: white; background-color:black"; margin-bottom: 0px; margin-left: 20px>Tyler Wolverton</p>
		</div>
		<ul class="nav">
			<li id="navli"><a href="../index.html">Projects</a></li>
			<!--<li id="navli"><a href="../index.html">Home</a></li> -->
			<!--<li id="navli"><a href="/projects/">Projects</a></li> -->
			<!--<li id="navli"><a href="#">Game Jams</a></li> -->
			<!--<li id="navli"><a href="/archive/">Archive</a></li> -->
			<li id="navli"><a href="/about/">About</a></li>
		</ul>
 
		{{ content }}
 
		<footer>
			<p style="margin:0;">Copyright &copy; 2016 Tyler Wolverton. <span class="email">moc.liamg@trevlowrelyt</span></p>
		</footer>
		<script type="text/javascript" src="/js/site.js"></script>
	</div>
</body>
</html>
