<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Purdue SIGGD </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/img/SpaceSalvagePlayer.png">
  <link href="/css/lightbox.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/lightbox-2.6.min.js"></script>
</head>
<body>
 
  <div id="main">
    <div style="background: #000000;">
      <a href="/"><img src="/img/SIGGD Logo 1.png" style="width:960px; background-color:white"></a>
    </div>
       <ul class="nav">
        <li id="navli"><a href="../index.html">Home</a></li>
        <li id="navli"><a href="/projects/">Projects</a></li>
        <li id="navli"><a href="#">Game Jams</a>
        	<ul>
        		<li><a href="/gamejams/">Game Jams</a>
        		<li><a href="/sponsorship/">Sponsors</a>
        	</ul> 
		</li>
        <li id="navli"><a href="/archive/">Archive</a></li>
        <li id="navli"><a href="/about/">About</a></li>
	<li id="navli"><a href="/sponsorship/">Sponsorship</a></li>
      </ul>
 
    {{ content }}
 
    <footer>
      <p style="margin:0;">&copy; Purdue SIGGD 2014 - <span class="email">moc.liamg@eudruP.DGGIS</span></p>
    </footer>
    <script type="text/javascript" src="/js/site.js"></script>
  </div>
</body>
</html>
